[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moviepy = "==2.0.0.dev2"
pandas = "*"
pillow = "*"
boto3 = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
